/************************************************************************
// For extensive details about creating a Populr theme, please visit
// http://developers.populr.me/theming
*/
// You must import variables.less before importing populr_mixins.less
@import 'variables';

//adding the pallets
@import 'palette-custom';
@import 'palette-default';

@import 'http://populr.me/assets/developers/populr_mixins.less';

@import 'preboot';
@import '//fonts.googleapis.com/css?family=Raleway:400,500,600';


body {
  background: @background-color;
}

// Call preboot.less's reset to reduce browser inconsistencies
#reset > .global-reset();

/////////////////////////////////////////////////////////////////////////
// Typography defaults

@text-color: #111;
// @custom-color is defined in variables.less
@link-color: @custom-color;

// Title text defaults
// @headline-font-family is defined in variables.less
.headline-text() {
  font-family: @headline-font-family;
  font-size: 24px;
  line-height: 1.2;
}

.pop-title-text() {
  font-family: @headline-font-family;
  font-size: 56px;
  line-height: 1.1;
}

// Body text defaults
@body-font-family: 'Raleway', sans-serif ;
.body-text() {
  font-family: @body-font-family;
  font-size: 14px;
  line-height: 1.5;
}

#pop {
  font-family: @body-font-family;
  color: @text-color;
  i, em {
    font-style: italic;
  }
  b, strong {
    font-weight: 700;
  }

  a {
    //    color: @link-color;
    color: #292929;

    &:active {
      //      color: lighten(@link-color, 20%);
      color: @custom-color;
    }
    &:hover {
      color: @custom-color;

    }
  }
  .link-btn {
    background-color: #292929 !important;
    border-radius: 0 !important;
    font-style: normal;
    font-size: 12px;

    &:hover {
      background-color: @custom-color !important;
    }
  }
}

// End typography defaults
/////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////
// Structure

// Content wrapper
#main-content {
  margin: 0 auto;
}

//removing top padding from first child
.columnizer-row:first-child .columnizer-row-inner {

  padding-top: 0;
  margin-top: 0;
}
#container-for-logo-title {
  background-color: #F7F6F0;
  width: 92%;
  margin: 0 auto;
  // Logo helper
  #pop-logo {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-left: 2.5%;
    text-align: left;

  }

  // Pop title


    #pop-title {
      border-top: 10px solid #292929;
      max-width: 95%;
      text-align: center;

      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 20px;
//      .pop-title-text();
      .font-size-larger {
        font-size: 32px;
        font-family: @headline-font-family;
        line-height: 1.4;
        font-weight: 700;
      }
      .font-size-medium ,.font-size-smaller{
        line-height: 1.2;
        font-family: @body-font-family;
        font-weight: 400;
        font-size: 16px;
      }
    }


}

.columnizer-col {

  //    padding: 10px 10px;
  //todo play with padding later
}


// Assets
.asset-title {
  .headline-text();
//  margin: 10px 0;
}

//////todo cleanup asset temp bg todo cleanup
//

/*.asset {
  background-color: lightsteelblue !important;
}

.columnizer-row-inner {
  background-color: yellowgreen !important;
}

.columnizer-col {
  background-color: red !important;
}

//
////////*/

//default background for all content
#main-region {
  width:92%;
  margin: 0 auto;
  background-color: #F7F6F0;

}

.description, .body {
  .body-text();

  margin: 10px 0;
  ul, ol {
    margin: .5em 0 .5em 1.5em;
  }
  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
}

//default padding for asset inner
.asset-inner {
  padding-bottom:20px;
}
//bordering the assets
//top border for assets
.columnizer-row-inner {
  border-top: 5px solid #292929;
  padding-top: 15px;

  .columnizer-row-contents-imagegroup & {
    border-top: none ;
    padding-top: 0 ;
  }
  .columnizer-row-contents-text & {
    border-top: none ;
    padding-top: 0 ;
  }
}
//thin border for all size4,3,2 assets
.asset-size-4,.asset-size-3,.asset-size-2 {
  border-bottom: 1px solid #ccc;
  &:hover {
    border-bottom-color: @custom-color;
  }
}
.asset-size-1 {
  border-bottom: 1px solid #ccc;
}

//sleek border at the end of the page
.columnizer-row:last-child .columnizer-row-inner {

  padding-bottom: 40px;
  border-bottom: 5px solid @custom-color;

}


// Text asset styling
.asset-type-text {
//  border-top: 5px solid #292929;

//  margin-top: 10px;
//  background-color: @background-color !important;

  .asset-title {
//    padding: 10px 0 30px 0;
    padding-bottom: 30px;
  }

  &.asset-size-1 {
    border-top: none;

    background-color: #ebe9e4 !important;

    .asset-title {
      font-size: 24px;
      padding-top: 40px;
      padding-bottom: 20px;

    }
    .description, .body, .description li, .body li, {
      font-size: 14px;
      line-height: 1.4;

    }

  }&.asset-size-2 {

    .asset-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.2;
    }
    .description, .body, .description li, .body li, {
      font-size: 14px;
      line-height: 1.4;

    }

  }
  &.asset-size-3 {

    .asset-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.2;

    }
    .description, .body, .description li, .body li, {
      font-size: 14px;
      line-height: 1.4;

    }

  }
  &.asset-size-4 {

    .asset-title {

      font-size: 16px;
      font-weight: bold;
      line-height: 1;
    }
    .description, .body, .description li, .body li, {
      font-size: 14px;
      line-height: 1.4;

    }

  }

}

// Image asset styling
#populr > #image-slider-themes > .basic();

.asset-type-imagegroup {


  text-align: center;
//  margin-top: 10px;

  &.asset-size-1 {

    .slideshow {
      width: 100% !important;
      height: 500px !important;
      margin-top: 30px;
      .slide {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .asset-title {

      font-size: 32px;
      padding-top: 40px;
      padding-bottom: 5px;
      line-height: 36px;
      font-weight: bold;


    }
    .description, .body, .description li, .body li, {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 600;
    }

  }
  &.asset-size-2 {

    color:#fff;
    text-shadow:1px 1px black ;
    height: 250px !important;



    .slideshow {
      width: 100% !important;
      height: 250px !important;

      .slide {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    .asset-title {
    font-size: 16px;



    }
    .description, .body, .description li, .body li, {
      font-size: 13px;
      line-height: 1.1;



    }

    .floated-parent-for-imagegroup-embedgroup-texts {
      height: 250px;
      width: 50%;
      position: absolute;
      top:0;
      right: 0;
      background-color: @custom-color;
      background-color: rgba(red(@custom-color),green(@custom-color),blue(@custom-color),0.6);
      z-index: 9999;
      overflow: hidden;
    }


  }
  &.asset-size-3 {
//    border-top: 5px solid #292929;
    .slideshow {
      width: 100% !important;
      height: 188px !important;

      .slide {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .asset-title {

      font-size: 20px;
      padding-top: 20px;
      line-height: 1.2;
      font-weight: 400;

    }
    .description, .body, .description li, .body li, {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      color: #666;
      font-style: italic;
    }

  }
  &.asset-size-4 {
//    border-top: 5px solid #292929;
    .slideshow {
      width: 100% !important;
      height: 170px !important;

      .slide {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .asset-title {

      font-size: 16px;
      padding-top: 20px;
      line-height: 1.2;
      font-weight: 400;

    }
    .description, .body, .description li, .body li, {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      color: #666;
      font-style: italic;
    }

  }
}

//Embed asset styling
.asset-type-embedgroup {

  text-align: center;
//  margin-top: 10px;

  &.asset-size-1 {

    .asset-title {

      font-size: 32px;
      padding-top: 40px;
      padding-bottom: 5px;
      line-height: 36px;
      font-weight: bold;
//      border-top: 10px solid #292929;

    }
    .description, .body, .description li, .body li, {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 600;
    }

  }
  &.asset-size-2 {
    min-height: 350px;
//    border-top: 5px solid #292929;

    .asset-title {

      /*font-size: 32px;
      padding-top: 20px;
      padding-bottom: 5px;
      line-height: 36px;
      font-weight: bold;*/

    }
    .description, .body, .description li, .body li, {
      font-size: 14px;
      line-height: 1.2;

    }

    .floated-parent-for-imagegroup-embedgroup-texts {
      width: 55%;
      margin-top: 20px;
      float: right;
    }
    div.embed {
      float: left;
      width: 40%;

    }

  }
  &.asset-size-3 {
//    border-top: 5px solid #292929;

    .asset-title {

      font-size: 20px;
      padding-top: 20px;
      line-height: 1.2;
      font-weight: 400;

    }
    .description, .body, .description li, .body li, {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      color: #666;
      font-style: italic;
    }

  }
  &.asset-size-4 {
//    border-top: 5px solid #292929;

    .asset-title {

      font-size: 16px;
      padding-top: 20px;
      line-height: 1.2;
      font-weight: 400;

    }
    .description, .body, .description li, .body li, {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      color: #666;
      font-style: italic;
    }

  }
}

// Document asset styling
.asset-type-documentgroup {

  background-color: #EBE9E4 !important;
  text-align: center;
//  margin-top: 10px;

//  border-top: 5px solid #292929;

  i.icon {
    padding-top: 5px;
    font-size: 120px;
    line-height: 1.2;
    font-style: normal !important;
  }

  .documents {

    margin: 10px auto;
    text-align: center !important;

    li {

      margin: 0 1em auto;
      text-align: left;

      a {
        text-decoration: none;
        line-height: 1.2;

        i.icon {
          font-size: inherit;
          font-style: normal !important;
        }
      }
    }
  }
  &.asset-size-1 {

  }
}

// webicon styling
.populr-webicon {
  box-shadow: none !important;
  border-radius:0 !important; ;
  margin-top: 10px;
}

// Clearfix
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */

// End structure
/////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////
// Mobile
//
// The Populr mobile reset will handle some of the basics of mobilizing 
// your theme, such as stacking all of the assets vertically and scaling 
// them to 100% of the width of their container. However, you'll have to 
// fine tune the styling to make your theme look really good on mobile
// devices.

@media screen and (max-width: 960px) {
  #populr > .mobile-reset();

  // Edit the grid for mobile
  .columnizer-row-inner, #pop-title {
    max-width: 640px;
  }
//  todo optimize
//  logo mobile fix
  #container-for-logo-title {
    width: 100%;
    margin-top:0;
    #pop-logo {
      max-width: 640px;

      margin: 35px auto 0 2.5%;
      text-align: left;

    }
      #pop-title {
        font-size: 40px !important;
      }

  }

  .columnizer-col {
    margin: 0 10px 20px !important;
  }

  // Edit the typography for mobile

  .asset-title {
    font-size: 24px !important;
  }

  .description, .body, .description li, .body li {
    font-size: 14px !important;
  }

  .asset-title, .description, .body, .description li, .body li {
    text-align: left !important;
  }
}

@media screen and (max-width: 600px) {

  //  todo optimize
  //  logo mobile fix
  #container-for-logo-title {
    width: 100%;
    #pop-logo {
      margin-top: 35px;
      margin-bottom: 0;
      margin-left: 2.5%;
      text-align: left;

    }
    #pop-title {
    font-size: 32px !important;
  }
  }



  .asset-title {
    font-size: 20px !important;
  }
}
